/OddEvenSort/build/
/OddEvenSort/dist/
/OddEvenSort/nbproject/private/
/Palindrome Checker/build/
/Palindrome Checker/dist/
/Palindrome Checker/nbproject/private/
/StudentPerformanceAnalysis/nbproject/private/
/InsertionSortArray/nbproject/private/
/InsertionSortArray/build/
/DSA-1/Palindrome Checker/nbproject/private/
